@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-dash bg-cover bg-no-repeat text-gray-900 h-[100vh];
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.tw_container {
  @apply pt-[5rem] pr-[1rem] pl-[1rem] h-[100vh]
  /* debug: bg-pink-300 bg-opacity-50 */
}

/* ### TABLES ### */

/* >>> prod grid */
.tw_prod_header {
  @apply min-h-[2rem] flex bg-accent_greyed mb-1 rounded-sm items-center justify-center font-bold text-white
}
.tw_prod_ths {
  @apply grid grid-cols-10 gap-1 mb-1 font-semibold text-white
}
.tw_prod_ths div {
  @apply overflow-hidden p-2 bg-accent_greyed rounded-sm flex min-h-[2rem] leading-none text-center items-center justify-center
}
.tw_prod_grid {
  @apply grid grid-cols-10 gap-1
}
.tw_prod_grid div {
  @apply bg-slate-200 overflow-hidden p-2 rounded-sm flex min-h-[2rem] leading-none text-center items-center justify-center
}
.tw_prod_grid input {
  @apply bg-slate-200 border-none overflow-hidden p-2 rounded-sm max-h-[1.5rem] max-w-[4rem] m-1 text-center items-center justify-center
}
/* head preço venda */
.tw_prod_ths div:nth-child(8) {
  @apply bg-accent_light
}
/* head quantidade vendida */
.tw_prod_ths div:nth-child(10) {
  @apply bg-accent_light
}
/* dados preço venda */
.tw_prod_grid div:nth-child(10n-2) {
  @apply hover:bg-white hover:cursor-pointer transition-colors ease-in-out
}
/* dados quantidade vendida */
.tw_prod_grid div:nth-child(10n) {
  @apply hover:bg-white hover:cursor-pointer transition-colors ease-in-out
}

/* >>> prod table */
.tw_prod_table {
  @apply table-auto border-separate w-[100%]
}
.tw_prod_table thead {
  @apply bg-accent_greyed text-white
}
.tw_prod_table tbody {
  @apply bg-slate-200
}
.tw_prod_table th, td {
  @apply text-center p-2 overflow-hidden leading-none
}
.tw_prod_table_sub {
  @apply p-2 min-h-[3rem] flex flex-row-reverse items-center gap-4 mt-2
}
.tw_prod_table_sub button {
  @apply rounded-full px-4 bg-accent hover:bg-accent_light transition-colors text-white min-h-[2rem] items-center max-h-[3rem] cursor-pointer
}
/* >>> dre table */
.tw_dre_table {
  @apply table-auto border-separate h-auto bg-transparent
}
.tw_dre_table tr {
  @apply block float-left
}
.tw_dre_table th {
  @apply block bg-accent_greyed text-white
}
.tw_dre_table td {
  @apply block bg-slate-200
}
.tw_dre_table th, td {
  @apply text-center p-2 m-1 overflow-hidden leading-none rounded-md w-auto
}
.tw_dre_table th:nth-child(8), th:nth-child(9) {
  @apply bg-accent_light
}
.tw_dre_table td:nth-child(8), td:nth-child(9) {
  @apply hover:bg-slate-100 ease-in-out delay-75 transition-colors hover:cursor-pointer
}
.tw_dre_table_sub {
  @apply min-h-[3rem] flex justify-center gap-2 items-center
}
.tw_dre_table_sub button {
  @apply rounded-full px-4 bg-accent hover:bg-accent_light transition-colors text-white min-h-[2rem] items-center max-h-[3rem] cursor-pointer
}

/* ### LOADING SPINNER ### */
.tw_loader {
  @apply animate-spin
  rounded-[50%] w-[50px] h-[50px]
  border-t-[10px] border-t-accent
  border-[10px] border-solid border-gray-200 
}
/* ### NAVIGATION BAR ### */
.tw_navbar {
  @apply z-[99] fixed top-0 h-[4rem] w-full
  bg-gray-100 font-bold border-b border-b-gray-200
}
.tw_navbar div {
  @apply m-0 p-0 flex items-center justify-between h-full
}

.tw_navbar button {
  @apply bg-accent hover:bg-accent_light font-bold ml-2 mr-2
}

/* ### PROD LIST ### */
.tw_prodlist_grid {
  @apply grid grid-cols-2 gap-4
}
.tw_prodlist_grid div {
  @apply max-h-[4rem] max-w-[8rem] overflow-hidden p-2 rounded-lg flex min-h-[4rem] leading-none text-center items-center justify-center cursor-pointer
}